<%= form_with(model: quest, class: "contents") do |form| %>
  <% if quest.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(quest.errors.count, "error") %> prohibited this quest from being saved:</h2>

      <ul class="list-disc ml-6">
        <% quest.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.text_field :name, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full bg-[#ffffff]", {"border-gray-400 focus:outline-blue-600": quest.errors[:name].none?, "border-red-400 focus:outline-red-600": quest.errors[:name].any?}] %>
  </div>

  <div class=" relative items-center text-center">
    <%= form.submit class: "w-full z-10 relative sm:w-auto rounded-md px-3.5 py-2.5 bg-[#8ac44b] hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
