<div id="<%= dom_id quest %>" class="w-full sm:w-auto my-5 space-y-5 flex flex-row">

  <div>
    <%= form_with model: quest, url: quest_path(quest), local: false, html: { class: "inline-block" } do |form| %>
      <%= form.check_box :status, { checked: quest.status?, onchange: "this.form.requestSubmit();" }, "true" , "false"
        %>
        <%= form.label :status, quest.status? ? "DONE" : "Doing" , class: "ml-2" , id: "status_label_#{quest.id}" %>
          <% end %>
  </div>
  <div>
    <h1 class="<%= quest.status? ? 'line-through' : '' %>">
      <%= quest.name %>
    </h1>
  </div>
</div>