<%= turbo_frame_tag :photo do %>

<!-- IMAGE -->
    <div class="relative flex overflow-hidden h-full rounded-lg items-center justify-center">
        <%= image_tag asset_path(photo.url), class: "h-[30vh]" %>
    </div>
<!-- NAV CONTROLS -->
    <div class="flex flex-row justify-between px-4 items-center  align-middle mt-4">
        <!-- IMAGE TITLE -->
         <div class="custom-box ">
            <p class="text-center text-lg font-semibold hidden sm:block">
                <%= photo.title %>
            </p>
        </div>
        <div class="flex flex-row ">
            <%= button_to previous_quest_path(photo), class: 'px-4 cursor-pointer group focus:outline-none' do %>
                <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                    <svg class="w-4 h-4 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 6 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M5 1 1 5l4 4" />
                    </svg>
                </span>
            <% end %>
            <%= button_to next_quest_path(photo), class: ' px-4 cursor-pointer group focus:outline-none' do %>
                <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                    <svg class="w-4 h-4 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 6 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4" />
                    </svg>
                </span>
            <% end %>
        </div>
    </div>
    
<% end %>